-r ../requirements.txt
git+https://github.com/acdh-oeaw/apis-core-rdf@dev
git+https://github.com/acdh-oeaw/apis-webpage@main
git+https://github.com/acdh-oeaw/apis-bibsonomy@main
git+https://github.com/acdh-oeaw/apis_highlighter@main
